<!DOCTYPE HTML>
<html lang="en" class="tc-hill">
    <head>

    
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="canonical" href="https://lsa.umich.edu/polisci/people/faculty.html"/>
    
    

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>
    
    <meta name="keywords" data-lsa-tags="[]"></meta>
    <meta name="description"></meta>

    

    
    
<script type="text/javascript" src="/etc.clientlibs/clientlibs/granite/jquery.5e8d3382f82b03b0bf3fea3024eecd61.js"></script>
<script type="text/javascript" src="/etc.clientlibs/clientlibs/granite/utils.e8faccc9e37c6a5cb56e4ec514c8c104.js"></script>
<script type="text/javascript" src="/etc.clientlibs/clientlibs/granite/jquery/granite.a49068f9d07a3e0a2246180ace35badb.js"></script>
<script type="text/javascript" src="/etc/clientlibs/foundation/jquery.26df26a88f9f71ceabb6a15e7cb9c550.js"></script>




    

    

    
    
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/636436/747588/css/fonts.css" data-lsa-font="U-M LSA Department Project - Basic Accents"/> 

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" async></script>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <link href="//netdna.bootstrapcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
      <link href="/etc/designs/michigan-lsa/clientlibs/js/respond/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
      <script src="/etc/designs/michigan-lsa/clientlibs/js/respond/respond.proxy.js"></script>
    <![endif]-->
    
    
    
<link rel="stylesheet" href="/etc/designs/michigan-lsa/clientlibs.b76a4ab8959c16d61a3561c19ed949c4.css" type="text/css">



    
    
<link rel="stylesheet" href="/apps/michigan-lsa/components/structure/page/clientlib.f7054ab4358a6d1888a4c3d7f115b284.css" type="text/css">
<script type="text/javascript" src="/etc.clientlibs/michigan-lsa/clientlibs/bundle/dist.49f4eb01bb47b7227fec42c946cf28b5.js"></script>



    
    
    <!--/* Avoid Vue flash of unstyled content */ -->
    <style>        
        [v-cloak] {
            display: none !important;
        }
    </style>
    <link rel="icon" type="image/png" href="/etc/designs/michigan-lsa/favicon.png">
<!--[if IE]><link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/etc/designs/michigan-lsa/favicon.png"/><![endif]-->
    
    <title>Faculty | U-M LSA Political Science</title>

    <script type="text/javascript">
  var LSADNTNotSet = navigator.doNotTrack !== '1' && window.doNotTrack !== '1';
</script>

<script>
  if (LSADNTNotSet) {  
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', "UA-36677223-1", 'auto');
    ga('create', "UA-36677223-3", 'auto', {'name': 'newTracker'});
    ga('send', 'pageview');
    ga('newTracker.send', 'pageview');
  }
</script>

    

</head>
    <!--[if lt IE 9]>
  <body class="IE8 tc-hill">
<![endif]-->
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=196603227047218&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <!-- header -->
  <!-- SDI include (path: /content/michigan-lsa/admin/alert/_jcr_content/par/alert.nocache.html, resourceType: michigan-lsa/components/alert) -->


<div class="clearfix"></div>
 

    
    
    
       
      

  <div id="vue-header-root-container" class="staticTemplate" v-on:togglesearch="toggleSearch" data-lsa-cx="010787019447302904152:-b8aegzjzk0" data-lsa-mode="cse" data-lsa-path="/content/michigan-lsa/polisci/en" data-lsa-serviceworker="false" data-lsa-indexed-db="false">    
    <a href="#content" class="sr-only" tabindex="1">Skip to Content</a>
    <div class="top-bar-wrap top-bar-dark">
  <div class="container">
    <div class="row">
      
      <div class="lsa-nav col-xs-12 hidden-xs ">
        <ul>
          <li>
            <a href="https://umich.edu/">U-M</a>
            </li><li class="divider">//</li>
        
          <li>
            <a href="https://lsa.umich.edu/">LSA</a>
            </li><li class="divider">//</li>
        
          <li>
            <a href="https://lsa.umich.edu/lsa/academics/departments-and-units.html">Departments and Units</a>
            </li><li class="divider">//</li>
        
          <li>
            <a href="https://lsa.umich.edu/lsa/academics/majors-minors.html">Majors and Minors</a>
            </li><li class="divider">//</li>
        
          <li>
            <a href="https://lsa.umich.edu/lsa/support-lsa.html">Support LSA</a>
            </li><li class="divider">//</li>
        
          <li>
            <a href="https://gateway.lsa.umich.edu">LSA Gateway</a>
            </li>
        </ul>
        <ul>
          <li class="divider">//</li><li>
            <a href="https://lsa.umich.edu/cg"><i class="fa fa-location-arrow"></i> Course Guide</a>
        </ul>        
      </div>
      <div class="phone-bar visible-xs col-xs-12">
        <button id="search" class="search" v-on:click="toggleSearch('xs')">
        <i class="fa fa-search fa-2x"></i>
        </button>
        <button id="hamburger" v-on:click="showMobileSearchBar=true" onclick="toggle_visibility('phone-menu');" class="">
          <i class="fa fa-bars fa-2x"></i>
        </button>
      </div>
    </div>
  </div>
</div>
    
    <div id="phone-search" class="phone-search-wrap slider hidden-sm hidden-md hidden-lg">
      <lsa-vuesearch inline-template v-bind.showSearchBar="false"> 
  <div>
    <form class="header-search-form pull-right" role="form" id="lsaVueSearchMobile">
        <div class="form-group">
          <div class="input-group">
            <!-- <label class="sr-only" for="umlsaSearch-mobile">Keyword Search of </label> -->
            <input id="umlsaSearch-mobile" class="form-control header-search-text" v-bind:disabled="$root.searching" v-model="q" type="text" name="q" placeholder="Search"/>
            <label class="sr-only" for="siteSearchSubmitMobile">Submit Site Search</label>
            <div class="input-group-btn">
              <button type="button" v-on:click="toggleSearch('xs')" class="btn btn-default cancel-search">
                <i class="fa fa-times"></i>
              </button>
              <button id="siteSearchSubmitMobile" class="btn btn-default" v-bind:disabled="$root.searching" v-on:click.prevent="fetchSearch" title="Submit Search of ">
                  <i class="fa fa-search"></i><span class="hiddentext">Search</span>      
              </button>
            </div> 
          </div>
        </div>
    </form>
    <div id="lsaUnitSearchResults" v-cloak ref="resultsPopover" tabindex="0">
  <div class="popover fade bottom in tc-hill" v-if="($root.showSearchBar || $root.showMobileSearchBar) && $root.results.length !=0">
    <div class="arrow"></div>
    <h3 class="popover-title search-page-heading themeText">Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}</h3>
    <div class="popover-content">
      <div class="col-xs-12 search-gsa-results-wrap" style="background-color: white;">      
        <template v-for="item in $root.results">
          <a class="themeLink themeText search-result" v-on:click.prevent="$root.sendSearchResultClick" v-bind:href="item.link">{{item.title}}</a>
          <table cellpadding="0" cellspacing="0" border="0"> 
            <tbody> 
              <tr> <td class="s"> {{item.snippet}}<font color="#7E6518" size="-1"> </font></td> </tr> 
            </tbody>
          </table><br> 
        </template>
        <div class="footline" id="search-footline"> 
          <div class="lsa-pagination"> 
            <a href="#" class="previous themeText" v-on:click.prevent.stop="$root.fetchPrevious" v-bind:disabled="! $root.hasPrevious || $root.searching" v-cloak v-bind:class="{ 'inactive' : !$root.hasPrevious }">previous</a>
            <span class="seperator themeText"> | </span>
            <a href="#" class="next themeText" v-on:click.prevent.stop="$root.fetchNext" v-bind:disabled="! $root.hasNext || $root.searching" v-bind:class="{ 'inactive' : !$root.hasNext }">next</a>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div> 
  </div>
</lsa-vuesearch>
    </div>
    <div id="phone-menu" class="phone-nav-wrap slider hidden-sm hidden-md hidden-lg">
    <div class="deptartment-nav row">
        <div class="functional-nav col-xs-6">
            <h3><a href="/polisci"><i class="fa fa-home"></i></a></h3>
            <ul>
                <li><a href="/polisci/about.html">About Us</a></li>
            
                <li><a href="/polisci/research.html">Research</a></li>
            
                <li><a href="/polisci/people.html">People</a></li>
            
                <li><a href="/polisci/news-events.html">News and Events</a></li>
            
                <li><a href="/polisci/faculty-hiring.html">Faculty Hiring</a></li>
            
                <li><a href="/polisci/hire-a-ph-d-.html">Hire a Ph.D.</a></li>
            </ul>
        </div>
        <div class="audience-nav col-xs-6">
            <h3>for</h3>
            <ul>
                <li><a class="audItem" href="/polisci/undergraduates.html">Undergraduates</a></li>
            
                <li><a class="audItem" href="/polisci/graduates.html">Graduates</a></li>
            
                <li><a class="audItem" href="/polisci/alumni-friends.html">Alumni and Friends</a></li>
            </ul>
                        
        </div>
    </div>
    <div class="lsa-nav col-xs-12">
        
        <ul>
            <li class="col-xs-6"><a href="https://umich.edu/">U-M</a></li>            
        
            <li class="col-xs-6"><a href="https://lsa.umich.edu/">LSA</a></li>            
        
            <li class="col-xs-6"><a href="https://lsa.umich.edu/lsa/academics/departments-and-units.html">Departments and Units</a></li>            
        
            <li class="col-xs-6"><a href="https://lsa.umich.edu/lsa/academics/majors-minors.html">Majors and Minors</a></li>            
        
            <li class="col-xs-6"><a href="https://lsa.umich.edu/lsa/support-lsa.html">Support LSA</a></li>            
        
            <li class="col-xs-6"><a href="https://gateway.lsa.umich.edu">LSA Gateway</a></li>            
        </ul>
        <ul>
            <li class="externalLink col-xs-12">
                <a href="https://lsa.umich.edu/cg"><i class="fa fa-location-arrow"></i> Course Guide</a>
            </li>            
        </ul>    
    </div>
</div>

    
      <div class="header-wrap">
        <div class="container">
          <div class="row">
            <div class="header-logo col-sm-7 col-xs-12">
              <a href="/polisci">
                <img src="/content/dam/michigan-lsa/admin/logos/polisci-logo.png" alt="Political Science" title="Political Science"/>
              </a>
            </div>
            <div class="header-search col-sm-3 hidden-xs">
                
  
  <lsa-vuesearch inline-template>
    <form class="header-search-form pull-right" role="search" id="lsaVueSearch">
      <label class="sr-only" for="umlsaSearch">Keyword Search of polisci</label>
      <div class="input-group">
          <input v-model="q" name="q" id="umlsaSearch" v-on:keyup.13.stop="fetchSearch" v-on:focus="growInput" v-on:blur="shrinkInput" v-bind:disabled="$root.searching" type="text" class="form-control header-search-text">
          <div class="input-group-btn">
              <button class="btn btn-default cancel-search" type="button" v-cloak v-if="$root.results && $root.results.length > 0" v-on:click="toggleSearch('md')"><i class="fa fa-times"></i></button>
              <button class="btn btn-default lsa-site-searchbtn" v-on:click.prevent="fetchSearch" v-bind:disabled="$root.searching" type="submit"><i class="fa fa-search"></i></button>
          </div>
      </div>
    </form>  
  </lsa-vuesearch>

            </div>
            <div class="functional-nav-wrap">
    <ul class="hidden-xs">
      
        <li>
          <a href="/polisci/about.html">
            About Us</a>

          
        </li>
      
        <li>
          <a href="/polisci/research.html">
            Research</a>

          
        </li>
      
        <li>
          <a href="/polisci/people.html">
            People</a>

          
        </li>
      
        <li>
          <a href="/polisci/news-events.html">
            News and Events</a>

          
        </li>
      
        <li>
          <a href="/polisci/faculty-hiring.html">
            Faculty Hiring</a>

          
        </li>
      
        <li>
          <a href="/polisci/hire-a-ph-d-.html">
            Hire a Ph.D.</a>

          
        </li>
        
      
    </ul>
</div>

          </div>
        </div>
      </div>
<!--  -->
      <div class="searchResults">
        <div id="lsaUnitSearchResults" v-cloak ref="resultsPopover" tabindex="0">
  <div class="popover fade bottom in tc-hill" v-if="($root.showSearchBar || $root.showMobileSearchBar) && $root.results.length !=0">
    <div class="arrow"></div>
    <h3 class="popover-title search-page-heading themeText">Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}</h3>
    <div class="popover-content">
      <div class="col-xs-12 search-gsa-results-wrap" style="background-color: white;">      
        <template v-for="item in $root.results">
          <a class="themeLink themeText search-result" v-on:click.prevent="$root.sendSearchResultClick" v-bind:href="item.link">{{item.title}}</a>
          <table cellpadding="0" cellspacing="0" border="0"> 
            <tbody> 
              <tr> <td class="s"> {{item.snippet}}<font color="#7E6518" size="-1"> </font></td> </tr> 
            </tbody>
          </table><br> 
        </template>
        <div class="footline" id="search-footline"> 
          <div class="lsa-pagination"> 
            <a href="#" class="previous themeText" v-on:click.prevent.stop="$root.fetchPrevious" v-bind:disabled="! $root.hasPrevious || $root.searching" v-cloak v-bind:class="{ 'inactive' : !$root.hasPrevious }">previous</a>
            <span class="seperator themeText"> | </span>
            <a href="#" class="next themeText" v-on:click.prevent.stop="$root.fetchNext" v-bind:disabled="! $root.hasNext || $root.searching" v-bind:class="{ 'inactive' : !$root.hasNext }">next</a>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    
    <div class="lsa_policy_notice-wrap ">
  
    
    
  

  

</div>



  </div>
  <div class="department-nav-hoverzone">
    <div class="department-nav-wrap hidden-xs theme-bg gradient">
        <div class="bg" style="background-image: url('/content/dam/michigan-lsa/admin/background-options/polisci-footer.png');"></div>
        <div class="top-box theme-border"></div>
        <div class="container audience-nav">
           <div class="row center">
               <h3>for</h3>
               <ul class="audience-nav-item">
                  <li>
                      <a class="audItem theme-bg theme-border" href="/polisci/undergraduates.html" data-hover="undergraduates">Undergraduates</a>
                      
                  </li>

                
                  <li>
                      <a class="audItem theme-bg theme-border" href="/polisci/graduates.html" data-hover="graduates">Graduates</a>
                      
                  </li>

                
                  <li>
                      <a class="audItem theme-bg theme-border" href="/polisci/alumni-friends.html" data-hover="alumni-friends">Alumni and Friends</a>
                      
                  </li>

                </ul>
            </div>
        </div>
        <div class="bottom-box theme-border"></div>
      </div>

      
        <div class="level-two-nav hidden-xs" id="audMenu-undergraduates">
          <div class="container">
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/polisci/undergraduates/advising.html">Advising</a>
                  
                </li>
              
                <li>
                  <a href="/polisci/undergraduates/honors-program.html">Honors Major</a>
                  
                </li>
              
                <li>
                  <a href="/polisci/undergraduates/awards-and-scholarships.html">Awards and Scholarships</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/polisci/undergraduates/prospective-majors.html">Prospective Majors</a>
                  
                </li>
              
                <li>
                  <a href="/polisci/undergraduates/internships.html">Internships</a>
                  
                </li>
              
                <li>
                  <a href="/polisci/undergraduates/student-organizations.html">Student Organizations</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/polisci/undergraduates/current-majors.html">Current Majors</a>
                  
                </li>
              
                <li>
                  <a href="/polisci/undergraduates/undergraduate-student-conferences.html">Undergraduate Student Conferences</a>
                  
                </li>
              
                <li>
                  <a href="/polisci/undergraduates/transfer-credit.html">Transfer Credit</a>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="level-two-nav hidden-xs" id="audMenu-graduates">
          <div class="container">
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/polisci/graduates/program-overview.html">Program Overview</a>
                  
                </li>
              
                <li>
                  <a href="/polisci/graduates/graduate-student-organizations.html">Graduate Student Organizations</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/polisci/graduates/admissions.html">Admissions</a>
                  
                </li>
              
                <li>
                  <a href="/polisci/graduates/gsi-positions.html">GSI Positions</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/polisci/graduates/funding.html">Funding</a>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="level-two-nav hidden-xs" id="audMenu-alumni-friends">
          <div class="container">
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/polisci/alumni-friends/giving.html">Giving</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              
            </div>
            <div class="col-sm-4">
              
            </div>
          </div>
        </div>
    
</div>
<div class="caution-tape dmc-cyan-bg"></div>


  

      
    

    
    <div class="container" id="content">
  <div class="row">

    <!-- mandatory page components -->
    <div class="col-xs-12">
      <div><div class="breadcrumb-wrap tc-hill">

  <span class="home hidden-xs">
    <a class="themeLink enabled" href="/polisci"><i class="fa fa-home"></i></a>
  </span>
<!-- currentPage.path == '/content/gateway-lsa/en' -->
  

  <ol class="breadcrumb hidden-xs">
      <li>
        
	      <a class="themeLink enabled" href="/polisci/people.html">People</a>
      </li>
  
      <li class="active">
        <span class="themeLink disabled themeText">Faculty</span>
	      
      </li>
  </ol>

  <div class="visible-xs">
    <ol class="breadcrumb closed">
        <li><a class="themeLink enabled" href="/polisci"><i class="fa fa-home"></i></a></li>
        <li><a class="elipsis themeLink enabled" href="#">...</a></li>        
        <li class="currentPage"> <a class="themeText disabled" href="/polisci/people/faculty.html">Faculty</a> </li>
    </ol>

  </div>

  <div class="visible-xs">
    <ol class="breadcrumb open">
        <li>
          <a class="themeLink enabled" href="/polisci"><i class="fa fa-home"></i></a>
        </li>

        <ol class="inner">
		      <li>
            <a class="themeLink enabled" href="/polisci/people.html">People</a>
          </li>
        
		      <li>
            
          </li>
        </ol>

        <li><a class="elipsis close theme-bg" href="#">[X] close</a></li>
    </ol>
  </div>

</div></div>
    </div>

    <div class="col-sm-4 hidden-xs">
      <div>

<div class="sidenav-wrap tc-hill">
    <ol class="sidenav">
        
        <li class="banner theme-bg">
            <a href="/polisci/people.html">People</a>
            
        </li>
        <li class="borderbottom"></li>
        
      
      
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/polisci/people/administration.html">Administration</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second active  kids">
                 <a class="themeLink disabled" href="/polisci/people/faculty.html">Faculty</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/polisci/people/lecturers.html">Lecturers</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/polisci/people/emeriti.html">Emeriti</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/polisci/people/graduate-students.html">Graduate Students</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/polisci/people/advisory-board.html">Advisory Board</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/polisci/people/fields-of-study.html">Fields of Study</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/polisci/people/expert.html">Find An Expert</a>
        </li>

        
        
           
         <!-- End 2nd Level Nav -->
    </ol>
</div></div>
    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="pageTitle">
    <h1>Faculty</h1>
    <a class="sideNavBurger visible-xs themeText themeLink" href="#"><i class="fa fa-bars"></i></a>
</div>

      <div class="phone-sidenav">

<div class="sidenav-wrap tc-hill">
    <ol class="sidenav">
        
        <li class="banner theme-bg">
            <a href="/polisci/people.html">People</a>
            
        </li>
        <li class="borderbottom"></li>
        
      
      
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/polisci/people/administration.html">Administration</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second active  kids">
                 <a class="themeLink disabled" href="/polisci/people/faculty.html">Faculty</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/polisci/people/lecturers.html">Lecturers</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/polisci/people/emeriti.html">Emeriti</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/polisci/people/graduate-students.html">Graduate Students</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/polisci/people/advisory-board.html">Advisory Board</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/polisci/people/fields-of-study.html">Fields of Study</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/polisci/people/expert.html">Find An Expert</a>
        </li>

        
        
           
         <!-- End 2nd Level Nav -->
    </ol>
</div></div>

      <!-- optional page components -->

      <div id="page-content">



    
    
    <div class="people_list"><div class="people-list-wrap" data-people-itemsPerPage="12" data-lsa-people="/content/michigan-lsa/polisci/en/people.gallery">
    <div class="categories">

	    <div class="view">
	    	<a class="directory themeText" href="/polisci/people/faculty.directory.html"><i class="fa fa-th-list"></i><span class="sr-only">Department Directory</span></a>
	    	<span class="gallery disabled"><i class="fa fa-th"></i><span class="sr-only">Switch to Department Gallery, 12 per page</span></span>
    	</div>
    </div>
    <div class="headline">
        <form id="people-search-form" class="search-form col-md-4 col-xs-6 pull-right" role="form">
            <div class="form-group">
                <label class="sr-only" for="peopleKeywords">Keyword Department Profile Search</label>
                <input class="search-text" type="text" id="peopleKeywords" name="peopleKeywords" placeholder="Profile Search"/>                
                <input type="hidden" name="peopleLastLetter" id="peopleLastLetter"/>
                <a id="people-search" class="search-icon btn btn-default">
                    <i class="fa fa-search"></i><span class="sr-only">Submit Department People Search</span>                    
                </a>
                <a id="people-clear-search" class="clear-search-icon btn btn-default">
                    <i class="fa fa-times-circle"></i><span class="sr-only">Clear Search</span>
                </a>
            </div>
        </form>
    </div>
    <div class="filter">
        <span class="sr-only">Click Letter to </span>
        <span class="filterLabel">Filter by Last Name: </span>        
        <ul class="alphabet" data-lsa-letters="A,B,C,D,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,V,W,Z" data-total-results="63">
        	<li><a class="themeText themeLink all active" href="#">All</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=A">A</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=B">B</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=C">C</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=D">D</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=E">E</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=F">F</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=G">G</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=H">H</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=I">I</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=J">J</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=K">K</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=L">L</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=M">M</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=N">N</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=O">O</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=P">P</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=Q">Q</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=R">R</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=S">S</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=T">T</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=U">U</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=V">V</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=W">W</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=X">X</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=Y">Y</a></li>
            <li><a class="themeText themeLink inactive" href="#alpha=Z">Z</a></li>
        </ul>
        <div class="dropdown-tags">
    <a class="themeText" href="#" onclick="return false">
        <span class="sr-only">Toggle to </span>
        <span class="filter-label filterLabel">Browse: Fields of Study</span>
        <i class="fa fa-chevron-down"></i>
        <i class="fa fa-times" style="display: none;"></i>
    </a>
    <div class="dropdown text" style="display: none;">
        <ul>
          
            <li>
                <a href="#tag=polisci/comparative-politics&tagns=michigan-lsa&tagtext=Comparative%20Politics" class="field-tag" data-tag-namespace="michigan-lsa" data-tag-name="polisci/comparative-politics" data-tag-text="Comparative Politics">Comparative Politics</a></li>
        
          
            <li>
                <a href="#tag=polisci/american-politics&tagns=michigan-lsa&tagtext=American%20Politics" class="field-tag" data-tag-namespace="michigan-lsa" data-tag-name="polisci/american-politics" data-tag-text="American Politics">American Politics</a></li>
        
          
            <li>
                <a href="#tag=polisci/methodology&tagns=michigan-lsa&tagtext=Methodology" class="field-tag" data-tag-namespace="michigan-lsa" data-tag-name="polisci/methodology" data-tag-text="Methodology">Methodology</a></li>
        
          
            <li>
                <a href="#tag=polisci/world-politics&tagns=michigan-lsa&tagtext=International%20Relations%20and%20World%20Politics" class="field-tag" data-tag-namespace="michigan-lsa" data-tag-name="polisci/world-politics" data-tag-text="International Relations and World Politics">International Relations and World Politics</a></li>
        
          
            <li>
                <a href="#tag=polisci/laws-courts-politics&tagns=michigan-lsa&tagtext=Law,%20Courts,%20and%20Politics" class="field-tag" data-tag-namespace="michigan-lsa" data-tag-name="polisci/laws-courts-politics" data-tag-text="Law, Courts, and Politics">Law, Courts, and Politics</a></li>
        
          
            <li>
                <a href="#tag=polisci/political-theory&tagns=michigan-lsa&tagtext=Political%20Theory" class="field-tag" data-tag-namespace="michigan-lsa" data-tag-name="polisci/political-theory" data-tag-text="Political Theory">Political Theory</a></li>
        
          
            <li>
                <a href="#tag=polisci/public-policy&tagns=michigan-lsa&tagtext=Public%20Policy" class="field-tag" data-tag-namespace="michigan-lsa" data-tag-name="polisci/public-policy" data-tag-text="Public Policy">Public Policy</a></li>
        </ul>
        
    </div>
</div>
        <div class="peoplelist-tag">
        </div>
    </div>
    <div class="people row equalHeight clearfix" id="people-list">
    </div>
    <h3 class="loading-people"><i class="fa fa-circle-o-notch fa-spin"></i>   </h3>
    <h3 class="noResults">No Results Found</h3>
    <div class="footline_people">
        <div class="bg-box">
            <div class="lsa-pagination">
                <a href="#" class="previous themeText">previous <span class="sr-only">12 People Summaries</span></a>
                <span class="seperator themeText"> | </span>
                <a href="#page=2" class="next themeText">next <span class="sr-only">12 People Summaries</span></a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">  

    var People = {};
    var itemsPerPage = 12 == 0 ? 12 : 12;

    People.getState = function () {
        return {
            q: '',
            alpha: '',
            page: 1,
            tag: '',
            tagns:'',
            tagtext:''
        };
    };

    People.clearAlpha = function () {
        // clear alpha filter
        $('.filter ul.alphabet li').each(function( index ) {
            $("a", this).removeClass('active');
        });
        $('.filter ul.alphabet li a.all').addClass('active');
    };

    People.clearKeyword = function () {
        People.form.find("#peopleKeywords").val("");  // Clear input
        $("#people-clear-search").hide();
        $("#people-search").show();
    };

    People.clearFields = function (event) {
        event.preventDefault();
        People.clearTagFilter();
        $(".peoplelist-tag").empty(); 
        $('.people-list-wrap .clear-fields').hide();
        $('.people-list-wrap .dropdown-tags').show();
    }

    People.search = function () {
        var state = People.getState();

        var fulltext = People.form.find("#peopleKeywords").val();

        if (fulltext) {
            state["q"] = encodeURIComponent(fulltext); 
            console.log('searched for '+state["q"]);                       
            state["alpha"] = '';
            state["tag"] = '';
            state["tagns"] = '';
            state["tagtext"] = '';
            state["time"] = new Date().getTime();
            People.clearAlpha();
            $.bbq.pushState(state);
            $("#people-search").hide();
            $("#people-clear-search").show();
            $('.filter ul.alphabet li').each(function( index ) {
                $("a", this).removeClass('active');
            });
            $('.filter ul.alphabet li a.all').addClass('active');
        }
    };

    People.alphaFilter = function () {
        var state = People.getState();
        var lastLetter = People.form.find("#peopleLastLetter").val();
        if (lastLetter) {
            state["alpha"] = lastLetter == 'All' ? '' : lastLetter;
            state["time"] = new Date().getTime();

            $.bbq.pushState(state);
        }
    };

    People.clearResults = function () {
        var state = People.getState();
        state["alpha"] = '';
        People.clearAlpha();
        People.clearTagFilter();
        $.bbq.pushState(state);
        $("#people-clear-search").hide();
        $("#people-search").show();
    };

    People.clearTagFilter = function () {
        var state = People.getState();
        state["tag"] = "";
        state["tagns"] = "";
        state["time"] = new Date().getTime();
        $(".peoplelist-tag").empty();        
        $.bbq.pushState(state);
    };

    People.getResults = function() {
        
        var selector = "";
        if("" == "gallery"){
            selector = "results";
        } else {
            selector = "results";
        }
        
        var path = "/content/michigan-lsa/polisci/en/people/faculty/_jcr_content/par/people_list."+selector+".html?" + $.param.fragment();
        $(".loading-people").show();
        $.get(path, function(data) {        
            People.results.html(data);
            People.initPaging();
            
            if ( $( ".people-list-result-wrap" ).length ){
                $('.people-list-wrap .noResults').hide(); 
            } else {
                $('.people-list-wrap .noResults').show();
                $('.people-list-wrap .lsa-pagination a').addClass('inactive');
            }
            $(".loading-people").hide();
        });
    };

    People.populateForm = function() {
        People.form.find("#peopleKeywords").val(People.fragments.q || "");
    };

    People.initPaging = function () {
        var totalResults = $('.people-list-wrap .alphabet').attr('data-total-results');
        var displayedResultCount = $('#people-list .person-wrap ').size();        
        var page = $.bbq.getState('page') || 1;

        $(".loading-people").hide();
        if (totalResults == null || totalResults == 'undefined'){
            totalResults = 0;
            $(".noResults").removeClass('hidden')            
        }
        $('.people-list-wrap .lsa-pagination .previous').addClass('inactive');

        if (totalResults <= itemsPerPage || displayedResultCount < itemsPerPage) {
            $('.people-list-wrap .lsa-pagination .next').addClass('inactive');
        } else {
            
            if (page == 1){
                $('.people-list-wrap .lsa-pagination .previous').addClass('inactive');
            } else {
                $('.people-list-wrap .lsa-pagination .previous').removeClass('inactive');
            }
            if ((page * itemsPerPage) >= totalResults){
                $('.people-list-wrap .lsa-pagination .next').addClass('inactive');                              
            } else { 
                $('.people-list-wrap .lsa-pagination .next').removeClass('inactive');
            }
        }

        if(page > 1){
            $('.people-list-wrap .lsa-pagination .previous').removeClass('inactive');
        }
        
        $('.people-list-wrap .lsa-pagination .inactive').unbind('click').click(function (e) {
            e.preventDefault();
            return false;
        });

        $('.people-list-wrap .lsa-pagination .next:not(.inactive)').unbind('click').click(function (e) {
            e.preventDefault();
            var page = $.bbq.getState('page') || 1;
            $.bbq.pushState({ 'page': ++page });
            return false;
        });

        $('.people-list-wrap .lsa-pagination .previous:not(.inactive)').unbind('click').click(function (e) {
            e.preventDefault();
            var page = $.bbq.getState('page') || 2;
            // if no page fragment set, default to 2 so the subtraction leave page 1
            $.bbq.pushState({ 'page': --page });            
            // $(this).attr('href', "#page="+ page );
            return false;
        });
    };

    function setResetTagDisplay(tagName, tagText){
        var $tagUI = $('<a href="#" class="tag-filter themeText themeLink" aria-hidden="true" onclick="People.clearFields(event)"></a>');
        $tagUI.text(tagText).attr("data-tag-name",tagName).append('&nbsp;<i class="fa fa-times"></i>');
        $(".peoplelist-tag").empty().append($tagUI); 
    }

    function filterByField( e, tagName, tagNamespace, tagText ) {        
        e.preventDefault();   

        setResetTagDisplay(tagName, tagText);

        if ( $(".people-list-wrap .categories .all").hasClass('active') ) {
            People.clearKeyword();
            People.clearAlpha();
            var state = People.getState();
            state["q"] = '';
            state["alpha"] = '';
            state["tag"] = tagName;
            state["tagtext"] = tagText;
            state["tagns"] = tagNamespace;            
            state["time"] = new Date().getTime();
            $.bbq.pushState(state);              
            $('.people-list-wrap .dropdown-tags').hide();
            $('.people-list-wrap .clear-fields').show();     
        } else {
            var state = People.getState();
            state["q"] = '';
            state["alpha"] = '';
            state["tag"] = tagName;
            state["tagtext"] = tagText;
            state["tagns"] = tagNamespace;
            state["time"] = new Date().getTime();
            People.clearKeyword();
            People.clearAlpha();
            $.bbq.pushState(state);
        }
    };

    $(document).ready(function () {        
        $('.people-tags a.more').click(function () {
            var moreTags = $('.people-tags .more-tags');
            if (moreTags.is(":visible")) {
                moreTags.hide();
                $(this).text("more");
            } else {
                moreTags.show();
                $(this).text("less");
            }
            return false;
        });

        if($.deparam.fragment().tag ){
            if($.deparam.fragment().tagtext != undefined){
                setResetTagDisplay($.deparam.fragment().tag, $.deparam.fragment().tagtext);
            } else {
                setResetTagDisplay($.deparam.fragment().tag, $.deparam.fragment().tag);
            }
        }

        People.form = $("#people-search-form");
        People.results = $("#people-list");

        if ($.deparam.fragment().q != '' && typeof $.deparam.fragment().q != 'undefined') {
            People.form.find("#peopleKeywords").val($.deparam.fragment().q);
            $("#people-search").hide();
            $("#people-clear-search").show(); 
        }

        // Bind a callback that executes when document.location.hash changes.
        $(window).bind( "hashchange", function(e) {
            People.getResults();
        });

        $("#people-search").click(function(e) {
            e.preventDefault();
            People.clearAlpha();
            $(".peoplelist-tag").empty();
            if ( $(".people-list-wrap .categories .all").hasClass('active') ) {
                People.clearFields(e);
                People.search();
                return false;
            } else {
                var state = People.getState();
                if ( People.form.find("#peopleKeywords").val() != "" ) {
                    state["q"] = People.form.find("#peopleKeywords").val();
                    state["alpha"] = '';
                    state["tag"] = '';
                    state["tagns"] = '';
                    state["tagtext"] = '';
                    state["time"] = new Date().getTime();
                    if( typeof ga !== "undefined"){
                        ga('send', 'pageview', location.pathname+'?q='+state["q"]); 
                        ga('newTracker.send', 'pageview', location.pathname+'?q='+state["q"]);
                    }
                }
                $.bbq.pushState(state);
            }
        });

        $("#people-clear-search").click(function(e) {
           People.form.find("#peopleKeywords").val("");  // Clear input
           // People.clearAlpha();
           People.clearResults();
           return false;
        });

        $('.filter ul.alphabet li a').on('click', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('inactive')) {
                $('#peopleLastLetter').val($(this).text());
                $('.filter ul.alphabet li').each(function( index ) {
                    $("a", this).removeClass('active');
                });
                $(this).addClass('active');
                
                People.clearKeyword();
                People.clearFields(e);
                People.alphaFilter();
            }
            return false;
        });

        $('#peopleKeywords').on('keydown', function (e) {
            var code = e.keyCode || e.which;
            if(code == 13) {
                e.preventDefault();
                $(".peoplelist-tag").empty();
                if ( People.form.find("#peopleKeywords").val() == "" )    // If text box is empty
                    People.clearResults();
                else {
                    if ( $(".people-list-wrap .categories .all").hasClass('active') ) {
                        People.search();
                    } else {
                        var state = People.getState();
                        state["q"] = People.form.find("#peopleKeywords").val();
                        state["alpha"] = '';
                        People.clearAlpha();
                        state["tag"] = '';
                        state["tagns"] = '';
                        state["tagtext"] = '';
                        state["time"] = new Date().getTime();

                        $.bbq.pushState(state);
                    }
                }
            }
        }); 
        
        $('.people-list-wrap .field-tag').on('click', function (e) {
            console.log($(this).text())
            filterByField( e, $(this).attr('data-tag-name'), $(this).attr('data-tag-namespace'), $(this).text() );
        });
        
        $('.highlighted-work-wrap .field-tag').on('click', function (e) {
            filterByField( e, $(this).attr('data-tag-name'), $(this).attr('data-tag-namespace'), $(this).text() );
        });
        
        $('.people-list-wrap .clear-fields').on('click', function (e) {            
            var state = People.getState();
            state["tag"] = '';
            state["tagns"] = '';
            state["tagtext"] = '';
            state["time"] = new Date().getTime();
            $.bbq.pushState(state);
            $('.people-list-wrap .clear-fields').hide();
            $('.people-list-wrap .dropdown-tags').show();
        });
        
        
        $('.people-list-wrap .categories a.active').click(function(e) {
            return false;
        });
      
        var letters = $(".alphabet").data("lsa-letters");        
        if(typeof letters !== 'undefined'){
            letters = letters.split(",");        
        
            $('.filter ul.alphabet li a').each(function(){           
                if(letters.indexOf(this.text) >-1 ){ 
                  $(this).removeClass("inactive");
                }  
            });
        }
        
        $(window).trigger( "hashchange" );
    });

</script>

     </div>


    
    
    <div class="highlighted_work"><div class="highlighted-work-wrap list">
    
    <div class="clearfix"></div>
    
    <div id="publications" class="carousel list" data-ride="carousel" data-interval="false">
        <!-- Wrapper for slides -->
        
        <div class="footline">
            
        </div>
    </div>
    
</div>

<script type="text/javascript">

    var publications;
    var pages = "";
    var currentPage = 1;

	$(document).on('ready', function() {

        var publicationList = [];

        $('.highlighted-work-wrap .carousel-inner .publication').each(function() {
            publicationList.push( $(".pubTitle", this).text() );
        })

        publications = new Publications(publicationList);

        $( ".highlighted-work-wrap .controls .left span" ).text( publications.getPrev() );
        $( ".highlighted-work-wrap .controls .right span" ).text( publications.getNext() );

		if (pages > 1) {
			$('.highlighted-work-wrap .carousel .page').each(function( index ) {
				$(this).addClass(function() {
				  return "page-" + (index+1);
				});
				
			    if (index != 0){
			    	$(this).addClass('hidden')
			    }
	        });
		}

    });

    function Publications (publications) {
        this.i = 0;
        this.length = publications.length;
        this.list = publications;
    }

    Publications.prototype = {
        getPrev: function() {
            if ( this.i == 0 )
                return this.list[this.length -1];
            else
                return this.list[this.i - 1];
        },
        goPrev: function() {
            if ( this.i == 0 )
                this.i = this.length -1;
            else
                this.i -= 1;
        },
        getNext: function() {
            if ( this.i == this.length -1 )
                return this.list[0];
            else
                return this.list[this.i + 1];
        },
        goNext: function() {
            if ( this.i == this.length -1 )
                this.i = 0;
            else
                this.i += 1;
        },
        sliding: function() {
            if ( $('#publications' ).data('bs.carousel').sliding == true )
                return true;
            else
                return false;
        }
    };

    $( ".highlighted-work-wrap .controls .left" ).click(function() {
        if ( publications.sliding() ) return;

        publications.goPrev();
        $(this).parent().find(".right span").text( publications.getNext() );
        $("span", this).text( publications.getPrev() );
    });

    $( ".highlighted-work-wrap .controls .right" ).click(function() {
        if ( publications.sliding() ) return;

        publications.goNext();
        $(this).parent().find(".left span").text( publications.getPrev() );
        $("span", this).text( publications.getNext() );
    });
    
    $( ".highlighted-work-wrap .works-pagination .previous" ).click(function() {
		if (!$(this).hasClass('inactive')) {
			$( ".highlighted-work-wrap .carousel .page-" + currentPage).addClass('hidden');
			currentPage--;
			$( ".highlighted-work-wrap .carousel .page-" + currentPage).removeClass('hidden');

			$('.highlighted-work-wrap .equalHeight').each(function() {
				$(this).children('.matchHeight').matchHeight(true);
			});
			 
			if (currentPage <= 1) $( ".highlighted-work-wrap .works-pagination .previous" ).addClass('inactive');
			$( ".highlighted-work-wrap .works-pagination .next" ).removeClass('inactive');
		}
		return false;
	});
    
    $( ".highlighted-work-wrap .works-pagination .next" ).click(function() {
		if (!$(this).hasClass('inactive')) {
			$( ".highlighted-work-wrap .carousel .page-" + currentPage).addClass('hidden');
			currentPage++;
			$( ".highlighted-work-wrap .carousel .page-" + currentPage).removeClass('hidden');
			
			$('.highlighted-work-wrap .equalHeight').each(function() {
				$(this).children('.matchHeight').matchHeight(true);
			});
			
			if (currentPage >= pages) $( ".highlighted-work-wrap .works-pagination .next" ).addClass('inactive');
			$( ".highlighted-work-wrap .works-pagination .previous" ).removeClass('inactive');
		}
		return false;
	});

</script></div>


</div>
    </div>

  </div>
  <div class="row">
    




  </div>
</div>

    
    
  <div class="department-footer-wrap theme-bg css-gradient ">
    <div class="bg" style="background-image: url('/content/dam/michigan-lsa/admin/background-options/polisci-footer.png');"></div>
    <div class="row margin-fix">
        <div class="top-box theme-border"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12 dept-name">
                                
                <a href="/polisci">Department of Political Science</a>
            </div>

            <div class="clearfix-footer"></div>
            
            <!-- <div class="middle-box theme-border hidden-lg hidden-md hidden-sm col-xs-12"></div> -->

            <div class="contact col-md-5 col-sm-6 col-xs-12">
              <a href="http://campusinfo.umich.edu/campusmap" target="_blank">
                <i class="fa fa-map-marker text-fix"></i>5700 Haven Hall<br/>
                <i class="fa fa-map-marker invisible text-fix"></i>505 South State Street<br/>
                <i class="fa fa-map-marker invisible text-fix"></i>Ann Arbor, MI 48109-1045
              </a>
              <div class="email">
                  <i class="fa fa-envelope-o text-fix"></i><a href="mailto:polisci@umich.edu">polisci@umich.edu</a>
               </div>
               

            </div>
            <div class="contact col-md-3 col-sm-5 col-xs-12">
               <label class="sr-only" for="deptPhone">Click to call 734.764.6313</label>
               <div class="phone" id="deptPhone" title="Call Political Science">
                   <i class="fa fa-phone text-fix"></i>
                   734.764.6313
               </div>
               <div class="fax"><i class="fa fa-print text-fix"></i>734.764.3522</div>               
               <div class="sitemap"><i class="fa fa-envelope-o invisible text-fix"></i><a href="/polisci/about/sitemap.html">Sitemap </a> </div>
            </div>
            <div class="contact col-sm-1 col-xs-12">
               <div class="social-icons"> <!-- -->
                 <a class="facebook" href="https://www.facebook.com/UMichLSA"><i class="fa fa-facebook-square" aria-hidden="true"></i><span class="hiddentext">Facebook</span></a>
                 <a class="twitter" href="https://twitter.com/umichlsa"><i class="fa fa-twitter-square" aria-hidden="true"></i><span class="hiddentext">Twitter</span></a>
                 
                 
                 
                 
                 
                 
                 
                 
              </div>
            </div>            
          </div>
        </div>
    <div class="row margin-fix">
        <div class="bottom-box theme-border"></div>
    </div>
</div>
  
    
    

<div class="footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 footer-logo">
                <a href="https://lsa.umich.edu"><img src="/content/dam/michigan-lsa/admin/logos/lsa-logo.png" alt="LSA - College of Literature, Science, and The Arts - University of Michigan"/></a>
            </div>

<!-- /* defaults */-->
            

<!-- /*configured thru admin or homepage properties */-->
            
                

                
                   <div class="col-md-2 col-sm-3 col-xs-6">
                        <ul>
                            <li class="title">More about LSA </li>
                            
                                <li><a href="http://lsa.umich.edu/lsa/about.html">About LSA</a></li>
                            
                                <li><a href="http://lsa.umich.edu/lsa/news-events/all-news.html">LSA News &amp; Events</a></li>
                            
                                <li><a href="http://lsa.umich.edu/lsa/news-events/lsa-magazine.html">LSA Magazine</a></li>
                            
                        </ul>
                    </div>
                

                
                   <div class="col-md-2 col-sm-3 col-xs-6">
                        <ul>
                            <li class="title">Student Resources </li>
                            
                                <li><a href="http://www.lsa.umich.edu/cg">Course Guide</a></li>
                            
                                <li><a href="http://lsa.umich.edu/advising">Academic Advising</a></li>
                            
                                <li><a href="http://lsa.umich.edu/opportunityhub">LSA Opportunity Hub</a></li>
                            
                                <li><a href="http://lsa.umich.edu/cgis">Global Studies</a></li>
                            
                        </ul>
                    </div>
                

                
                   <div class="col-md-2 col-sm-3 col-xs-6">
                        <ul>
                            <li class="title">Academics </li>
                            
                                <li><a href="http://lsa.umich.edu/lsa/academics/majors-minors.html">Majors &amp; Minors</a></li>
                            
                                <li><a href="http://lsa.umich.edu/lsa/academics/departments-and-units.html">Departments &amp; Units</a></li>
                            
                                <li><a href="http://lsa.umich.edu/lsa/academics/dates-and-deadlines.html">LSA Dates and Deadlines</a></li>
                            
                        </ul>
                    </div>
                

                 <div class="col-md-2 col-sm-3 col-xs-6">
                    <ul>
                        <li class="title">Connect</li>
                        
                            <li><a href="http://lsa.umich.edu/lsa/about/contact-us/social-media.html">Social Media</a></li>
                        
                            <li><a href="http://lsa.umich.edu/lsa/news-events/all-news/about-lsa-today.html">LSA Today Newsletter</a></li>
                        
                        <li><a href="mailto:lsa.web.support@umich.edu?Subject=Report%20Bug%20/content/michigan-lsa/polisci/en/people/faculty&amp;body=requestURL%20http://lsa.umich.edu/content/michigan-lsa/polisci/en/people/faculty.html" id="myCustomTrigger">Report Feedback</a></li>
                    </ul>
                </div>

            
        </div>
    </div>
    <div class="copyright">
        &copy; <a href="http://regents.umich.edu/">2019 Regents of the University of Michigan</a>
    </div>
</div>

    
<script type="text/javascript" src="/etc/designs/michigan-lsa/clientlibs/jquery-touch.6f3f9959eaf82d038569c63a867a2218.js"></script>
<script type="text/javascript" src="/etc/designs/michigan-lsa/clientlibs.c2712a8e1aae8d6a6b9943ee6d99863b.js"></script>




<div class="cloudservice generictracker">
    <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/7346.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>

</div>



</body>

</html>